/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.nav-bar {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 1;
    background-color: rgba(247, 242, 242, 0.973);
}
nav-links {
   
    border: 2px solid black;
    list-style: none;
    height: 50px;
    
}
a { 
    position: relative;
    float: right;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(61, 58, 58);
  
}
h1 {
    color: rgb(61, 58, 58);
    font-size: 28px;
    position: relative;
    top: 15px;
    left: 30px;
    display: block;
    float: left;
}
.logo {
    position: relative;
    left: 20px;
    top: 5px;
    display: block;
    float: left;
}
.main-container {
    max-width: 100%;
    height: 800px;
    background-image: url('../images/background2.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.main-container h2 {
    
    width: 55%;
    height: 50px;
    position: relative;
    bottom: 150px;
    left: 150px;
    color:  rgb(61, 58, 58);
    font-size: 34px;
    opacity: .7;
}
.features {
    width: 100%;
    
    
}
.features-container {
    width: 100%;
    height: 800px;
    background-color: rgb(202, 208, 214);
    color: white;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    grid-gap: 20px;
    

}
.beginner-course {
    background-image: url('../images/school.jpg');
    background-size: cover;
    background-position: center;
    grid-area: 2 / 2 /span 6 / span 5;
    border: 5px solid whitesmoke;
    opacity: .85;
}
.advance-course {
    background-image: url('../images/upside.jpg');
    background-size: cover;
    background-position: center;
    grid-area: 8 / 2 / 12 / span 5 ;
    border: 5px solid whitesmoke;
    opacity: .85;
    
   
}
.shop {
    background-image: url('../images/shop.jpg');
    background-size: cover;
    background-position: center;
    grid-area: 5 / 7 / 12 / 12;
    border: 5px solid whitesmoke;
    opacity: .85;
    
}
.camp {
    background-image: url('../images/holiday.jpg');
    background-size: cover;
    background-position: center;
    grid-area: 2 / 7 / 5 / 12;
    border: 5px solid whitesmoke;
    opacity: .85;
}
.features-container h3 {
    font-size: 22px;
    color: grey;
    float: left;
    margin: 2px;
    
}
#white-h3 {
    color: rgb(216, 209, 209);
}
.our-team {
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('../images/remy-penet-L5AD1XCQhpk-unsplash.jpg');
    background-position: center;
    background-size: cover;
}
.our-team-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
    width: 100%;
}
.surfer {
    margin: 30px;
    padding: 10px;
    background-color: white;
    text-align: center;

}
.our-team h2 {
    text-align: center;
    color: grey;
    font-size: 34px;
    position: relative;
    top: 20px;
}
footer {
    height: 150px;
    width: 100%;
    margin: auto;
    text-align: center;
    opacity: .8;
   
}
footer h5 {
    float: right;
    position: relative;
    bottom: 20px;
    
}
.address {
    margin: 40px auto;
    width: 100px;
}
@media only screen and (min-width: 1300px) {
    body {
        width: 1300px;
        margin: auto;
    }
    .nav-bar {
        width: 1300px;
        margin: auto;
    }
}
@media only screen and (max-width: 1024px) {
    body {
        width: 100%;
        margin: auto;
        
    }
    .nav-bar {
        width: 1024px;
        margin-right: auto;
    }
}
@media only screen and (max-width: 768px) {
    
    .our-team-container {
        flex-direction: column;
    }
    footer h1, h5 {
        display: none;
    }
    body {
        width: 100%;
        margin: auto;
    }
    .nav-bar {
        width: 100%;
        margin: auto;
    }
}
