/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.nav-bar {
    width: 100%;
    height: 70px;
    background-color: rgba(252, 252, 252, 0.575);
}
nav-links {
    position: fixed;
    border: 2px solid black;
    list-style: none;
    height: 50px;
    
}
a { 
    position: relative;
    float: right;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(61, 58, 58);
  
}
h1 {
    color: rgb(61, 58, 58);
    font-size: 28px;
    position: relative;
    top: 15px;
    left: 30px;
    display: block;
    float: left;
}
.logo {
    position: relative;
    left: 20px;
    top: 5px;
    display: block;
    float: left;
}
.main-container {
    max-width: 100%;
    height: 800px;
    background-image: url('/resources/images/background2.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
}
.main-container h2 {
    
    width: 55%;
    height: 50px;
    position: relative;
    bottom: 150px;
    left: 150px;
    color:  rgb(61, 58, 58);
    font-size: 34px;
    opacity: .7;

}
